
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-02{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.btn-primary-contact{
    border: 1px solid #FD6E0A;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px; 
    margin-left: 30px;
}
.dark-03{
    color: #757575;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;

}
.text-center{
    text-align: center;
}
/* Header styles */
.header{
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat:no-repeat ;
    background-position: top left, bottom right;
}

/* Nav bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0px 180px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight:600;    
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
}
.banner-profile-picture{
    width: 580px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
.item-title{
    color: #474747;
    line-height: 2px;
}

    /* SKills styles */


.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
}
.skill-description{
    color: #757575;
    font-size: 16px;
}
.skills-descirption{
    padding: 0px 115px;
    margin-bottom: 50px;
}

/* Resume Section styles */
.resume-container{
    display: flex;
    gap: 20px;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 40px;
}
.experience{
    padding-right: 70px;
}
.experience-title{
    font-weight: bold;
    font-size: 25px;
    color: #474747;
    margin-bottom: none;
    /* line-height: 10px; */
}
.experience-sub-title{
    font-weight: 600;
    font-size: 20px;
    color:#757575;
    /* line-height: 0%; */
}
.experience-description{
    font-size: 16px;
    color: #757575;
    /* margin-top: 20px; */
}
.resume hr{
    margin: 30px 5px;
}
.resume-cv-download{
    margin-top: 50px;
}

    /* footer styles */

footer{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"]{
    height: 64px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 10px 20px;
    display: block;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
}
footer textarea{
    height: 180px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 10px 20px;
    display: block;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
}


    /* Responsive Media Query */

.hide{
    display: none;
}

@media screen and (max-width: 576px) {
    .skills-container, 
    .resume-container, 
    footer,
    .about-items {
        flex-direction: column;
    }

    footer, .about {
        padding: 20px;
    }
    
    .footer-column {
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }
}
